* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0 auto;
  max-width: 1000px;
  overscroll-behavior: contain;
}

h1 {
  margin-bottom: 2rem;
}
